<view class="con">
  <form bindsubmit="onSubmit"></form>
  <view class="basicinfo">
    <text class="title">基本信息</text>

    <view class="item">
      <label class="weui-label">姓名</label>
      <input class="iteminput" bindinput="nameInput" placeholder="请输入姓名" type="text" />
      <view class="line"></view>
    </view>

    <!-- <view class="item">
        <label class="weui-label">编号</label>
        <input class="iteminput" placeholder="请输入编号" type="text"/>
        <view class="line"></view>
      </view> -->

    <view class="item">
      <label class="weui-label">电话</label>
      <input class="iteminput" bindinput="phoneInput" placeholder="请输入电话" type="text" />
      <view class="line"></view>
    </view>

  </view>
  <view style="margin-top:100rpx">
    <button type="primary" bindtap="bindWxuser">綁定</button>
  </view>
</view>