page {
	height: 100%;
	overflow: hidden;
}
textarea{
  width: 100%;
  height: 100px;
}
view{
  height: 100%;
}
.body_text{
  display: inline-block;
  font-weight: 0;
  width: 100%;
  height: 100%;
  padding-top: 0;
  word-break: keep-all;
  word-wrap: break-word;
}
.control_panel_upper {
	position: absolute;
	top: 1%;
	left: 10rpx;
	width: 720rpx;
	height: 7%;
	overflow: hidden;	

    display:flex;
    flex-direction: row;
    justify-content: space-between;
	font-size: 30rpx;	
}

.control_panel_upper .connection_info_div {
	position: absolute;
	top: 10%;
	left: 10rpx;
}

.control_panel_upper .clear_button {
	position: absolute;
	top: 5%;
	right: 10rpx;
	width: 150rpx;
	height: 90%;
	font-size: 30rpx;
}

.RecvStatus{
	position: absolute;
	top: 8%;
	left: 10rpx;
	width: 720rpx;
	height: 4%;
	overflow: hidden;	

    display:flex;
    flex-direction: row;
    justify-content: space-between;
	font-size: 30rpx;
}

.container_recv {
	position: absolute;
	border: 2px solid #000;
	top: 12%;
	left: 10rpx;
	width: 720rpx;
	height: 44%;
	overflow: hidden;
	font-size: 30rpx;
}

.SendStatus{
	position: absolute;
	top: 60%;
	left: 10rpx;
	width: 720rpx;
	height: 4%;
	overflow: hidden;
	
    display:flex;
    flex-direction: row;
    justify-content: space-between;
	font-size: 30rpx;
}

.container_send {
	position: absolute;
	/* border: 2px solid #000; */
	top: 14%;
	left: 10rpx;
	width: 720rpx;
	height: 30%;
	font-size: 30rpx;
}

.container_send_ta {
	left: 15rpx;
	width: 720rpx;
}

.control_panel{
	position: absolute;
	top: 81%;
	left: 10rpx;
	width: 720rpx;
	height: 19%;
	overflow: hidden;
	font-size: 30rpx;
}

.control_panel .hex_div {
	position: absolute;
	top: 10%;
	left: 20rpx;
}


.control_panel .hex_switch {
	position: absolute;
	top: 7%;
	left: 100rpx;
}

.control_panel .periodic_send_input {
	position: absolute;
	border: 2px solid #000;
	top: 52%;
	left: 20rpx;
	width: 110rpx;
}

.control_panel .period_div {
	position: absolute;
	top: 53%;
	left: 145rpx;
}

.control_panel .period_send_div {
	position: absolute;
	top: 54%;
	left: 210rpx;
}

.control_panel .periodic_send_switch {
	position: absolute;
	top: 50%;
	left: 350rpx;
}

.control_panel .send_data_button {
	position: absolute;
	top: 20%;
	right: 10rpx;
	width: 150rpx;
	height: 80rpx;
	font-size: 30rpx;
}
.send_data_input {
	position: absolute;
	top: 60%;
	right: 10rpx;
	width: 150rpx;
	height: 80rpx;
	font-size: 30rpx;
}

